{
    "presets": ["@babel/env", "@babel/react"],
    "env": {
        "test": {
            "presets": ["@babel/env", "@babel/react"],
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}